<!--우측 콘텐츠 헤더 영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>관리자 계정 등록</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/Home/Index">Home</a> >
            </li>
            <li>
                <a>관리자 계정 정보 관리</a> >
            </li>
            <li class="active">
                <strong>관리자 계정 등록</strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">
    </div>
</div>

<!--우측 콘텐츠 영역 -->
<div class="wrapper wrapper-content">
    <!-- form 태그에 입력한 내용을 /admin/create 경로로 POST 방식으로 보낸다. -->
    <form id="createForm" action="/admin/create" method="post">
        <div class="ibox-content m-b-sm border-bottom">
            
            <!-- 제목 영역 -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">관리자 이름</label>
                        <!-- name 속성으로 백엔드에서 데이터를 가져온다. -->
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                </div>
            </div>

            <!-- 내용 영역 -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">내용</label>
                        <textarea class="form-control" id="contents" name="contents" rows="10" cols="5"></textarea>
                    </div>
                </div>
            </div>

            <!-- 게시 여부 영역 -->
            <div class="row">
                <!-- row는 12칸으로 이루어지는데, 그 중 4칸을 차지한다. -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">게시 여부</label>

                        <select class="form-control" id="display" name="display">
                            <option value="9">선택</option>
                            <option value="1">게시</option>
                            <option value="0">게시하지 않음</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- 버튼 영역 -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">저장</button>
                <a href="/admin/list" class="btn btn-info">목록</a>
            </div>

        </div>
    </form>

</div>