<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 계정 목록 페이지</title>
    <style>
        table {
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>관리자 계정 목록</h1>

    <a href="/admin/create">관리자 계정 등록</a>

    <table>
        <thead>
            <tr>
                <th>계정 번호</th>
                <th>이름</th>
                <th>나이</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>1</th>
                <th>유경1</th>
                <th>20</th>                
            </tr>
            <tr>
                <th>2</th>
                <th>유경2</th>
                <th>21</th>                
            </tr>
            <tr>
                <th>3</th>
                <th>유경3</th>
                <th>23</th>                
            </tr>
        </tbody>
    </table>
</body>
</html>