

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그룹 채팅 서버에 연결된 모든 사용자 간 채팅</title>
</head>
<body>
    <p>그룹 채팅 서버에 연결된 모든 사용자 간 채팅</p>
</body>
</html>